$primary-color: green;
//$primary-color: #0093cd;
$secondary-color:#39821c08;
//$secondary-color:#0093cd1a;
$header-bg:#f0f0f0;
$mainheader-bg:#ffffff;
$login-btn: green;
//$login-btn:#0093cd;
$content-bg:#39821c08;
$secondary-bg:#f0f0f0;
$footer-bg:#333;
$dropdown-bg:#f7f7f7;
$dropdown-b: #e0dede;