@import "Variable";

.main{
  padding: 30px;
  position: relative;
}
.main_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  &>div>div>div{
      width: 70%;
      margin-left: auto !important;
      margin-right: auto !important;
    &>div{
      display: flex !important;
      column-gap: 25px !important;
      justify-content: center !important;
    }
  }
  &>div>div {
    & > button:first-child {
      position: absolute;
      display: block;
      padding: 5px;
      z-index: 1;
      width: 100px;
      height: 200px;
      top: 25%;
      left: 5%;
    }
    & > button{
      position: absolute!important;
      display: block;
      padding: 5px;
      z-index: 1;
      width: 100px !important;
      height: 200px !important;
      top: 30% !important;
      right: 5% !important;
    }
  }


  .ant-carousel {
    .slick-next {
      &::before {
        content: '>';
      }
    }
    .slick-prev {
      &::before {
        content: '<';
      }
    }
  }
  .slick-track{
    display: flex !important;
    column-gap: 25px !important;
    justify-content: center !important;

  }
  .slick-list{
    width: 70%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .slick-dots li{
    background-color: grey;
    height: 15px !important;
    width: 15px !important;
    top: 40px !important;
    border-radius: 50%;
  }
  .slick-dots li.slick-active{
    background-color: black;
  }

  .container{
    width: 300px;
    height: 420px;
    &:hover{
      .learn{
        color:  $primary-color;
      }
    }
    .image_content1{
      width: 100%;
      height: 160px;
      border-top-right-radius:8px ;
      border-top-left-radius:8px ;

    }
    .menu_card{
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 16px;
      h3{
        margin: 5px 0px;
      }
    }
    .learn{
      display: flex;
      gap: 10px;
      font-size: 16px;
    }
    .icon{
      color: $primary-color;

    }
  }
}
.arrow_prev{
  font-size: 40px;
  position: absolute;
  left: 10%;
  top:300px;
  color: $primary-color;
}

.arrow_next{
  font-size: 40px;
  position: absolute;
  left: 87%;
  top:300px;
  color: $primary-color;
}
.header{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  gap:450px;
  .head{
   font-size: 24px;
    font-weight: 600;

  }
  .container{
    color: $primary-color;
    font-size: 16px;
    font-weight: 600;
  }
}
@media screen and (max-width: 995px) {
  .header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap:10px;
  }

  .arrow_prev{
    display: none;
  }
  .arrow_next{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .head{
    font-size: 16px;
  }

}

@media screen and (max-width: 995px) {
  .slick-list {
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (max-width: 500px) {
  .main_container {
    & > div > div > div {
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;

      & > div {
        column-gap: 0px !important;
      }
    }
  }
  }