@import "Variable";

.main_container{
  width: 100%;
  padding: 20px 0px;
 background-color: $secondary-color;
  padding-left: 180px;
  .award_image{
    width: 100%;
    height: 200px;
    background-image: url("https://www.heritage.com.au/-/media/m/images/about/awards/2022/mozo-peoples-choice-awards-2022.png");
    background-repeat: no-repeat;
    background-size: contain;

  }
}

@media screen and (max-width: 995px) {
  .main_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    award_image {
      width: 100%;
      height: 100%;
    }
  }
}

