@import "Variable";

.menu{
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 435px;
  line-height: 1.5;
  .breadcrumb{
    &>nav>ol>li>span>a{
      color: $primary-color;
      font-size: 16px;
      background-color: white;
      padding:20px;
    }
  }
  .content{
    width: 50%;
    background-color: $secondary-color;
    padding: 20px;
    h2{
      color: $primary-color;
    }
    p{
      text-indent: 100px;
    }
  }
  .image{
    width: 50%;
    overflow: hidden;
    height: 435px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .content3>nav>ol>li>span>a{
    font-size: 16px;
    color: $primary-color;
    font-weight: 600;
  }
}

@media screen and (max-width: 995px) {
  .menu{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    width: 100%;
    height: 100%;
    .content{
      width: 100%;
    }
    .image{
      width: 100%;
    }
  }


}