@import "Variable";

.main_container{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 30px 0px;
  .container{
      width: 992px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    margin-bottom: 20px;
    &:hover{
      .learn{
        color: $primary-color;
      }
    }
    .content{
      font-size: 16px;

    }
    .learn{
      font-size: 18px;
      display: flex;
      gap: 10px;
    }
  }

  .box{
    width: 300px;
    height: 320px;
    .learn1{
      display: flex;
      gap:10px;
      font-size: 16px;
    }
    .menu_card{
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .menu_card1{
      height: 285px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h3{
      margin:2px 0px;
    }
    .content1{
      font-size: 16px;
    }
  }

  .menu_card{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon{
    color: $primary-color;
  }
  .box:hover{
    .learn1{
      color:$primary-color ;
    }
  }

}
@media screen and (max-width: 995px) {
  .main_container{
    width: 100%;
    height: 100%;
    padding: 20px;
    .container{
      width: 100%;
      height: 100%;
      .menu_card{
        height: 100%;
      }
    }
    .container2{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      .menu_card{
        height: 100%;
      }
    }
    .box{
      width: 100%;
      height: 100%;
    }
    .menu_card{
      height: 100%;
      width: 100%;
    }
    .menu_card1{
      height: 100%;
      width: 100%;
    }
  }


}