@import "Variable";

.main_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: $secondary-color;
  font-weight: 300;
  cursor: pointer;
  .main_contactlist{
    display: flex;
    gap:30px;
    .contactlist{
      display: flex;
      gap: 5px;
      align-items: center;
      .content:hover{
        color: $primary-color;
      }
      .icon{
        font-size: 20px;
        color: $primary-color;
      }
    }
  }
  .content3>nav>ol>li>span>a{
    font-size: 16px;
    color: $primary-color;
    font-weight: 600;
  }
}
.contactlist:hover{
  color: $primary-color;
}
.alert:hover{
  color: $primary-color;
}
.content{
  font-size: 14px;
}