@import "Variable";
.container{
  background-color: $mainheader-bg;
  cursor: pointer;
}
.main_container{
  width: 100%;
  height: 610px;
  padding: 30px 0px;

.main{
  display: flex;
  justify-content: center;
  .header{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
}
  .list{
    width: 300px;
    display: flex;
    gap:20px;
    font-size: 24px;
    line-height: 2;
    .image{
      margin-top: 8px;
      color: $primary-color;
      font-size: 30px;
    }
    .content{
      display: flex;
      gap:10px;
      border-bottom: 1px solid $login-btn;
      padding-top: 10px;
      .icon{
        font-size: 18px;
        margin-top: 10px;
      }
    }
    .list_content{
      font-size: 18px;
      font-weight: 300;
      text-decoration-color: $login-btn;
      line-height: 2;
    }
  }
}
.grid{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  box-sizing: border-box;
  gap:20px;
}
.grid_menu{
  display: flex;
  justify-content: center;
  gap:20px;
  padding-top: 80px;
  box-sizing: border-box;
}
.list_content:hover{
  color: $primary-color;
}
.list_content>a:hover{
  color: $primary-color;
}
.content:hover{
  color:$primary-color;
}

@media screen and (max-width: 995px) {
  .main_container {
    height: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

  }
  .grid_menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

}