@import "Variable";

.main_container{
  width: 100%;
  height: 600px;
  background-color: $footer-bg;
  color: $secondary-bg;
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .talk{
      font-size: 20px;
      padding: 20px 0px;
      font-weight: bold;
    }
    .call{
      font-size: 32px;
      padding-bottom: 20px;
    }
    .red_btn{
      margin-top: 20px;
      font-size: 16px;
      width: 220px;
      height: 50px;
      background-color: $primary-color;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .yellow_btn{
      font-size: 16px;
      width: 220px;
      height: 50px;
      color: black;
      background-color: #f6b443;
      margin: 20px 0px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fallow{
      margin-top: 20px;
      padding: 20px 0px;
      font-weight: bold;
      font-size: 20px;
    }
  }
.social_media{
  display: flex;
  justify-content: center;
  gap:20px;
  .logo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $header-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $primary-color;
  }
}

}
@media screen and (max-width: 995px) {
  .container{
    width: 100%;
    .yellow_btn{
      width: 100%;

    }
    .red_btn{
      width: 100%;
    }

  }

}