@import "Variable";

.main_container{
  width: 100%;
  height: 750px;
  background-color: #363636;
  color: #c0c0c0;
  cursor: pointer;
  .text{
    padding: 20px 100px;
    font-size: 16px;
    color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    &>p{
      color:#c0c0c0;
    }
    h3:hover{
      color: $primary-color;
    }
    p:hover{
      color: $primary-color;
    }
  }
  .container{
    display: flex;
    justify-content:space-evenly;
    gap:100px;
    .box{
      width: 300px;
      h1:hover{
        color: $primary-color;
      }
      img:hover{
        color: $primary-color;
      }
      p:hover{
        color: $primary-color;
      }
    }
    .box2{
      width: 300px;
      font-size: 16px;
      line-height: 2;
    h3:hover{
      color: $primary-color;
    }
      p:hover{
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 995px) {
  .main_container {
    width: 100%;
  padding: 50px;
    height: 100%;
    padding: 20px;
    .text{
      width: 100%;
      padding: 0;
    }
    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap:10px;
      .box{
        width: 100%;
        text-align: center;
      }
      .box2{
        width: 100%;
        text-align: center;
      }
    }
  }
}