@import "Variable";

.main_container {
  width: 100%;
  height: 400px;
  background-color: $secondary-color;
  padding: 40px 0px;
  .container{
    display: flex;
    gap:40px;
    justify-content: center;
    .box{
      width: 210px;
      height: 300px;
      &:hover{
        .learn{
          color: $primary-color;
        }
      }
      h3{
        margin: 0px;
      }

    }
    .learn{
      display: flex;
      gap: 10px;
    }
    .content{
      font-size: 16px;
    }
  }

  .content2{
    width: 50%;
    height: 300px;
    background-image: url("../public/small3.jpeg");
    object-fit: cover;

  }
.menu{
  display: flex;
  width: 420px;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  &:hover{
    .learn{
      color: $primary-color;
    }
  }
}
  .content1{
    width: 50%;
    padding: 20px;
    h3{
      margin: 5px;
    }
  }
  .content2{
    width: 50%;
    border-top-right-radius:8px;
    border-bottom-right-radius: 8px;
  }
}

.menu:hover{
  border-color: transparent;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}
.learn{
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.title{
  font-size: 18px;
}
.menu_card{
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu_card1{
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon{
  color: $primary-color;
}

@media screen and (max-width: 995px) {
  .main_container{
    width: 100%;
    height: 100%;
    padding: 20px;

    .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 20px;
      .box{
        width: 100%;
        height: 100%;
      }
      .menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        .content2{
          height: 100%;
          width: 100%;
        }
        .content1{
          height: 100%;
          width: 100%;
        }
      }
    }

  }
  .menu_card1{
    width: 100%;
    height: 100%;
  }
  .menu_card{
    width: 100%;
    height: 100%;
  }

}
