@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Bitter', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
    -webkit-font-smoothing: antialiased !important;
  }
}
.ant-dropdown{
  background-color: #00800000 !important;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item, .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item, .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title, .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title{
  padding: 0px;
  background-color: #00800000 !important;
}
.ant-dropdown .ant-dropdown-menu{
  margin-top: 25px !important;
  width: 100% !important;

}

.slick-dots li{
  background-color: grey;
  height: 15px !important;
  width: 15px !important;
  top: 40px !important;
  border-radius: 50%;
}
.slick-dots li.slick-active{
  background-color: black;
}

