@import "Variable";

.main_container {
  display: flex;
  justify-content: space-between;
  background-color: $mainheader-bg;
  height: 80px;
  font-size: 18px;
  .header_main {
    display: flex;
    gap:20px;
    .name{
      border-bottom-right-radius: 20px;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 200px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }
    .headername{
      text-align: center;
      cursor: pointer;
    }

    .menulist_content {
      display: flex;
      align-items: center;
      gap:20px;

      .menulist {
        display: flex;
        gap: 5px;

      }

      .arrow {
        color: $primary-color;
      }
    }
  }
}
.container{
  display: flex;
  gap: 20px;
  align-items: center;
  .btn{
    height: 50px;
    width: 80px;
    background-color: $login-btn;
    border-radius: 30px;
    font-weight: 400;
  }
  .search_menu{
    display: flex;
    border: 2px solid $login-btn;
    padding: 5px;
    border-radius: 22px;
    align-items: center;
    .input{
      border: none;
    }
    .icon{
      color: #ffffff;
      text-align: center;
      background-color: $login-btn;
      padding: 5px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      font-size: 24px;
    }
  }
}
.menulist:hover{
  color: $primary-color;
}

