@import "Variable";

.main_container{
  display: flex;
  flex-direction: row;
  .container1{
    width: 50%;
    overflow: hidden;
    height: 435px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
.container{
  display: flex;
  background-color: $content-bg;
  width: 50%;
  padding:80px 80px 80px 107px;
  height: 435px;
  .cashback{
    color: $primary-color;
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0px 10px 0px;
  }
  .content{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
  }
  .btn{
    background-color: $primary-color;
    font-size: 16px;
    border-radius: 25px;
    margin: 20px 0px 0px 0px ;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .header{
    font-size: 32px;
    font-weight: 800;
    .header_primary{
      color: $primary-color;
    }

  }
}
}.images{
  width: 720px;
  height: 435px;
   background-image:url('https://www.heritage.com.au/-/media/m/campaigns/firsts/shoot/first-home.jpg?cx=0.57&cy=0.46&cw=800&ch=800&hash=AB4563D3CD4341AF957D1F0E59692731F94902EB')

 }
@media screen and (max-width: 995px) {
  .main_container{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
  .container{
    width: 100%;
    padding: 50px;
    height: 100%;
  }
    .container1{
      width: 100%;
      height: 100%;
    }
  }
}
.btn{
  border: none;
  color: white;
}