@import "Variable";

.main_container{
  background-color: $header-bg;
  width: 100%;
  height: 570px;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap:20px;
  .container{
    width: 480px;
  }
  .title{
    font-size: 24px;
    font-weight: 700;
  }
  .subtitle{
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
    padding: 8px;
  }
  .content{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 300;
  }
  .pinktext{
    color: #e66e7f;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .titlehead{
    padding: 8px;
  }
  .image_content1{
    width: 480px;
    height: 310px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .image_content2{
    width: 480px;
    height: 230px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 995px) {
  .main_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .container{
      width: 100%;
      .image_content1{
        width: 100%;
      }
      .image_content2{
        width: 100%;
      }
    }
  }

}