@import "Variable";

.main{
  width: 100%;
  height: 100%;
.main_container {
  display: flex;
  background-color: $secondary-color;
  padding: 20px;
  margin: 10px 10px;
  border-radius: 10px;

  .menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    color: $primary-color;
    width: 350px;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid  $secondary-color;
  }

  .card_list {
    display: flex;
    gap: 10px;
    .main_content {
      width: 325px;
      padding: 0px 20px;
    }

  }
  .list{
    background-color: $mainheader-bg;
    border-radius: 10px;
    height: 100%;
  }

  .icon {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: $primary-color;
    ul{
      color: $login-btn;
      font-size: 16px;
      li{
        list-style-type: none;
        color:#767676;
      }
      li>a{
        color: #767676;
      }
      li>a:hover{
        color: $primary-color;
      }
    }
  }
  .button{
    font-size: 18px;
   margin-left: 25px;
    margin-top: 20px;
    color: $primary-color;
  }

}
}
.menu_list:hover{
  background-color: $dropdown-bg;
}

@media screen and (max-width: 1436px) {
  .main{
    display: none;
  }

}
