@import "Variable";

.menu_bar{

    ul {
      width: 100%;
      z-index: 1;
      position: relative;
      font-size: 16px;
      color: $primary-color;

    }
  ul > li >ul>li > span {
    color: white;
  }
  ul > li >ul>li > span >svg {
    color: white;
  }
  .button{
    display: flex;
    gap:20px;
    align-items: center;

  }
  .icon{
    color:$primary-color;
  }
  }
.menu_bar {
  ul > li:hover {
    background-color: $primary-color;
    &>ul>li>span{
      color: white;
    }
    &>div>span{
      color: white;
    }
    &>div>i{
      color: white;
    }

  }
  ul > li >ul >li>span{
    color: $primary-color;
  }
}
.search{
  padding: 20px;
  margin-top: 10px;
}