@import "Variable";

.main_content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: white;
  font-size: 18px;
  position: relative;

}
.container1{
  margin-top: 10px;

}
.container2 {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  top:50px;
  right: 10px;
  .button {
    background-color:$primary-color;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
  }
  .icon{
    font-size: 24px;
    color: $primary-color;
  }
}

@media screen and (max-width: 715px) {
  .container2{
    display: none;
  }
}

.button {
  background-color: $secondary-color;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  color: white;
}