@import "Variable";

.main_container{
  width: 100%;
  background-color: $secondary-color;
  height: 350px;
  padding: 40px 0px;
  .card{
    background-color: white;
    width: 650px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid $secondary-bg;
    border-radius: 8px;


    &:hover{
      border-color: transparent;
      box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
    }
    .learn1{
      display: flex;
      justify-content: space-between;
      padding: 24px;
      font-size: 16px;
      border-bottom: 1px solid $secondary-bg;

    }
    .learn{
      display: flex;
      justify-content: space-between;
      padding: 24px;
      font-size: 16px;
      border-bottom: 1px solid $secondary-bg;
    }
    .learn:hover{
      color:$primary-color ;
      background-color:$secondary-bg ;
    }
    .icon{
     color: $primary-color;
    }
  }

}

@media screen and (max-width: 995px) {
  .main_container{
    width: 100%;
    height: 100%;
    padding: 30px;
    .card{
      width: 100%;
      height: 100%;
    }

  }

}