@import "Variable";
.main_container {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: $mainheader-bg;
  gap: 50px;
  .container {
    width:270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid $login-btn;
    .link {
      font-size: 24px;
      font-weight: 700;
    }

  }
    .menulist_content {
      display: flex;
      align-items: center;

      .menulist {
        display: flex;
        gap: 5px;
        padding-right: 50px;
        padding-left: 30px;
        font-size: 18px;
        border-right: 2px solid $login-btn;
        .arrow {
          color: #cc303a;
        }
      }
  }
}