@import "Variable";

.main_container{
  width: 100%;
  height: 100%;
  display: flex;
  gap:30px;
  justify-content: center;
  padding: 30px 0px;
  .container1{
    width: 40%;
    height: 100%;
  }
  .container2{
    margin-top: 70px;
    width: 20%;
    height: 100%;
    p{
      font-size: 16px;
    }
  }
  .title{
    font-size: 28px;
    padding: 20px 0px;
    font-weight: 700;
  }
  .title1{
    font-size: 28px;
    padding: 10px 0px;
    font-weight: 700;
  }
}

@media screen and (max-width: 995px) {
  .main_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .container1{
      width: 100%;
      height: 100%;
    }
    .container2{
      width: 100%;
      height: 100%;
    }
  }

}