@import "Variable";
.container_main {
  text-align: center;
  width: 100%;
  height: 410px;
  background-color: $content-bg;
  padding: 30px 0px;
  .container{
    padding: 15px;
    .header {
      font-size: 28px;
      font-weight: 700;
    }

  }
  .main{
    display: flex;
    justify-content: center;

    .main_tabs {
      display: flex;
      gap:5px;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      padding: 2px;
      border: 2px solid $login-btn;
      border-radius: 40px;

      .tabs {
        display: flex;
        padding: 30px 60px;
        border-radius: 35px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
    }
  }
}
.tabs:active{
  background-color: $primary-color;
  color: white;
}
#activeMenu{
  color: $secondary-bg;
  background-color: $primary-color;
}
.card{

  display: flex;
  justify-content: center;
  gap:20px;
  padding-top: 60px;

}
.size{
  width: 310px;
  height: 120px;
  color:$primary-color;
}
.icon{
  font-size: 20px;
  text-align: center;
  color:$primary-color ;
  font-weight: bold;
  line-height: 1.2;

}

@media screen and (max-width: 995px) {

  .container_main {
    width: 100%;
    height: 100%;
    padding: 30px;
    .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .size{
      padding: 30px;
      width: 100%;
      height: 100%;
    }
  }
  .main_tabs{
    width: 100% !important;
    height: 100%;
  }
}
@media screen and (max-width: 995px){
  .main_tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.main_tabs{
  background-color: $primary-color;
  color: white;
  padding:20px;
  border-radius: 30px;
  font-size: 24px;
  width: 100%;
  margin-bottom: 20px;
}
.container{
  width: 100%;
}

@media screen and (max-width: 550px){
  .main_tabs{
    display: flex;
    flex-direction: column;
  }
}