@import "Variable";
.container_main {
  text-align: center;
  width: 100%;
  height: 410px;
  background-color: $content-bg;
  padding: 30px 0px;
  .container{
    padding: 15px;
    .header {
      font-size: 28px;
      font-weight: 700;
    }

  }
  .main{
    display: flex;
    justify-content: center;

.main_tabs {
  display: flex;
  gap:1px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border: 2px solid $login-btn;
  border-radius: 40px;

  .tabs1 {
    display: flex;
    padding: 30px 15px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $primary-color;
  }
  .tabs2 {
    display: flex;
    padding: 30px 5px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $primary-color;

  }
  .tabs3 {
    display: flex;
    padding: 30px 27px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $primary-color;

  }
}
}
}
.tabs:active{
  background-color: $primary-color;
  color: white;
}
#activeMenu{
  color: $secondary-bg;
  background-color: $primary-color;
}
.card{
  height: 140px;
  display: flex;
  justify-content: center;
  gap:20px;
  padding-top: 60px;

}
.size{
  width: 310px;
  height: 100%;
  color:$primary-color;
  &>div>div{
    height: 140px;
  }
}
.icon{
  text-align: left;
  font-size: 24px;
  color:$primary-color ;
  font-weight: bold;
  line-height: 1.2;

}

@media screen and (max-width: 995px) {

  .container_main {
    width: 100%;
    height: 100%;
    padding: 30px;
  .card {
    padding: 0px;
    gap:0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
    .size{
      padding: 30px;
      width: 100%;
      height: 100%;
      &>div>div{
        height: 100%;
      }
    }
  }
  .main_tabs{
    width:70% ;
    height: 100%;
  }
  .main{
    width: 100%;
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color:$secondary-bg;
  }
}
@media screen and (max-width: 500px){
  .main_tabs{
    width:110% ;
    height: 50% !important;
    font-size: 14px;
  }
  .tabs1 {
    padding: 15px 15px;
  }
  .tabs2 {
    padding: 15px 5px;

  }
  .tabs3 {
    padding: 15px 27px;


  }
}