@import "Variable";

.main_container{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 450px;
  background-color: $mainheader-bg;
  padding: 40px 0px;
  box-sizing: border-box;
  .title{
    font-size: 24px;
    font-weight: 700;
    }
  .content{
    padding-top: 18px;
    font-size: 18px;
    font-weight: 300;
    span{
      font-size: 18px;
      color: $primary-color;
    }
  }
  .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 480px;
    height: 180px;
  }
  .words{
    padding: 13px 0px;
  }
}
.image_content{
  width: 480px;
  height: 170px;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .container1{
    width:480px;
    height: 160px;
    padding-bottom: 10px;
  }
  .container2{
    width:480px;
    height: 200px;
  }
}
@media screen and (max-width: 995px) {
  .main_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    .container{
      width: 100%;
      padding: 30px;
      height: 100%;
  }
  }
}