.main_container{
  width: 100%;
  padding: 50px;
  color: white;
  .container{
    background-color: #2e1a48;
    padding: 80px 0px;
    border-radius: 30px;
    .main{
      position: relative;
      padding: 40px;
      .arrow_prev{
        position: absolute;
        font-size: 16px;
        top:45%;
        left: 1%;
        background-color:#7c6992 ;
        padding: 20px;
      }
      .arrow_next{
        position: absolute;
        font-size: 16px;
        top:45%;
        right: 1%;
        background-color:#7c6992 ;
        padding: 20px;
      }
      &>div:last-child>div>button:first-child{
        width: 50px;
        height: 50px;
      }
      &>div:last-child>div>button{
        width: 50px;
        height: 50px;
      }
      &>div:last-child>div>div{
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;

        &>div{
          display: flex !important;
          column-gap: 40px !important;
          justify-content: center !important;
          border-radius: 10px !important;
        }
      }
    }
    .head{
      color: #b0e0e2;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding-bottom: 20px;
    }
    .main_text{
      font-size: 48px;
      text-align: center;
      font-weight: 300;
    }
  }

    .box{
      width: 300px;
      height: 180px;
      padding: 30px;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px;
      font-size: 24px;
      font-weight: 600;
      background-color: #f8f8f8;
      transition: width 300ms, height 300ms;
      cursor: pointer;
    }
}

@media screen and (max-width: 995px) {
  .main_container{
    padding: 20px;
    .container{
      padding: 0px;
    }
    .box{
      width: 100%;
      height: 100%;
    }
  }

  .main{
    &>div:last-child>div>div{
      width: 100%;
      height: 100%;
    }
    &>div{
      display: flex !important;
      column-gap: 40px !important;
      flex-direction: column;
      justify-content: center !important;
      border-radius: 10px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .main_container{
    padding: 20px !important;
    .container{
      padding: 0px !important;
    }
  }
  .main{
    padding: 0px;
    &>div:last-child>div>div{
      width: 100%;
      height: 100%;
    }
    &>div{
      display: flex !important;
      flex-direction: column;
      justify-content: center !important;
      border-radius: 10px !important;
    }
    .arrow_prev{
      display: none !important;
    }
    .arrow_next{
      display: none !important;
    }
  }

}