.main_container{
  padding: 20px;
  color: #2e1a48;
  .head{
    text-align: center;
    font-size: 48px;
    padding-bottom: 30px;
    font-weight: 300;
  }
  .container {
      display: flex;
    justify-content: center;
    .box {
      width: 300px;
      padding: 0px 40px;

      .sub_head {
        font-size: 24px;
        font-weight: 600;
      }

      .content {
        font-size: 18px;
        color: #707070;
        padding: 30px 0px;
        line-height: 1.5;
      }

      .btn {
        margin-top: 40px;
        font-size: 18px;
        border: 2px solid #2e1a48;
        text-align: center;
        padding: 15px;
        width: 80%;
        border-radius: 5px;
      }
    }
    .box1 {
      width: 300px;
      padding: 0px 40px;
      border-left: 0.5px solid grey;
      border-right: 0.5px solid grey;

      .sub_head {
        font-size: 24px;
        font-weight: 600;
      }

      .content {
        font-size: 18px;
        color: #707070;
        padding: 30px 0px;
        line-height: 1.5;
      }

      .btn {
        margin-top: 40px;
        font-size: 18px;
        border: 2px solid #2e1a48;
        text-align: center;
        padding: 15px;
        width: 80%;
        border-radius: 5px;
      }
    }
  }
  }

@media screen and (max-width: 995px) {
  .main_container{
    width: 100%;
    height: 100%;
    padding: 30px;
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

  }
  .box{
    width: 100%;
    height: 100%;

  }
  .box1{
    width: 100%;
    height: 100% !important;
    border-left: none !important;
    border-right: none !important;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    padding: 20px 40px !important;
  }
}