@import "Variable";

.main {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0px;
    background-color: $content-bg;
    .main_container {
        display: flex;
        justify-content: center;
        gap: 50px;

        .container {
            width: 300px;
            padding-top: 40px;

            .text {
                font-size: 30px;
                font-weight: 700;
            }

            .colortext {
                font-size: 30px;
                color: $primary-color;
                font-weight: 700;
            }

            .content {
                font-size: 18px;
                line-height: 1.5;
                font-weight: 300;

                span {
                    color: $primary-color;
                }
            }
        }

        .container_video {
           width: 50%;
            height: 420px;
            border-radius: 20px;
            video {
                border-radius: 20px;
            }

        }
    }
}
.btn{
    width: 260px;
    height: 50px;
    background-color: $primary-color;
    font-size: 16px;
    border-radius: 25px;
    margin: 20px 0px;
    color: $header-bg;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    padding-top: 60px;
    width: 350px;
    height: 174px;
}
@media screen and (max-width: 995px) {
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100% !important;
        justify-content: center;
        align-items: center;
        .main_container{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;

            .container{
                width: 90%;
                height: 100%;
                margin-bottom: 20px;
            }
        }
        .btn{
            width: 100%;
        }

        .container_video{
            width: 90% !important;
            height: 100% !important;
        }

    }
}